<!-- <div>
<div class="profilepicture">
    <app-profilepicture></app-profilepicture>
</div>
<div class="description">
    <app-description></app-description>
</div>
<div class="action">
    <app-actions></app-actions>
</div>

</div> -->

<div class="row" style="padding: 10px;">
    <div class="col-2 " style="border-style: solid;color:brown;height: 180px;">
        <app-profilepicture></app-profilepicture>
    </div>
    <div class="row" style="padding-left: 20px;height: 250px;width: 625px;">
        <div class="col-12" style="border-style: solid;color:blueviolet">
            <app-description></app-description>
        </div>
        <br>
        <div class="col-12" style="border-style: solid;color: blue;height: 60px;">
            <app-actions></app-actions>
        </div>
    </div>    
</div>
