<!-- <div>
<div class="profilepicture">
    <app-profilepicture></app-profilepicture>
</div>
<div class="description">
    <app-description></app-description>
</div>
<div class="action">
    <app-actions></app-actions>
</div>

</div> -->

<div class="row" style="padding: 10px;">
    <div class="col-2 " style="border-style: solid;color:brown;height: 180px;">
        <app-profilepicture></app-profilepicture>
    </div>
    <div class="col-10">
        <div class="row" style="border-style: solid;color:blueviolet;height: 120px;margin-left:10px">
            <app-description></app-description>
        </div>
        
        <div class="row" style="border-style: solid;color: blue;height: 50px;margin-left:10px;margin-top: 10px;">
            <app-actions></app-actions>
        </div>
    </div>    
    
</div>
<!-- <div class="row" style="border: 5px solid darkgreen;padding:10px;">
    <div class="col-3" style="border: 5px solid brown;height: 180px;margin-left:10px">
        <app-profilepicture></app-profilepicture>
    </div>
    <div class="col-8">
        <div class="row" style="border: 5px solid blueviolet;height: 120px;margin-left:10px">
            <app-description></app-description>
        </div>
        <br>
        <div class="row" style="border: 5px solid blueviolet;height: 60px;margin-left:10px">
            <app-actions></app-actions>
        </div>
    </div>
    
</div> -->

