<!-- <p>alldirectives works!</p>
<a routerLink="fordirective">ngFor</a> -->
<div class="row ">
    <h5><a routerLink="fordirective" style="margin-left: 200px;">ngForDirective</a></h5>&nbsp;&nbsp;
    <h5><a routerLink="switch" style="margin-left: 200px;">switchDirectives</a></h5>&nbsp;&nbsp;
    <h5><a routerLink="style" style="margin-left: 200px;">styleDirective</a></h5>&nbsp;&nbsp;
    <h5><a routerLink="todo" style="margin-left: 200px;">ToDo</a></h5>&nbsp;&nbsp;
    
</div>
<hr>
    <hr> 

<router-outlet></router-outlet>