<!-- <div class="actionContainer">
    <div class="author">
        <app-author></app-author>
    </div>
    <div class="engagement" style="text-align: center">
        <app-engagement></app-engagement>
    </div>
    
</div> -->
<div class="row " style="padding: 10px;">
    <div class="col-md-4" style="border-style: solid;color:firebrick;height: 40px;">
        <app-author></app-author>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-md-4 float-sm-right" style="border-style: solid;color:green;height: 40px;">
        <app-engagement></app-engagement>
    </div>
</div>