<!-- <h1>Root Component!</h1> -->
 <!-- Title : {{ title }} -->


 <hr>
 <hr> 
 <div class="row d-flex justify-content-center">
    
        <h2><a routerLink="appReviewContainer">Review</a></h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        <h2><a routerLink="alldirectives">alldirectives</a> </h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h2><a routerLink="allpipes">allpipes</a> </h2>
        
        <h2><a routerLink="allforms" style="margin-left: 20px;">allforms</a></h2>
        <h2><a routerLink="consumeAll" style="margin-left: 20px;">consumeAll</a></h2>
        <h2><a routerLink="eventbinding" style="margin-left: 20px;">Event Binding</a></h2>
        <h2><a routerLink="animation" style="margin-left: 20px;">Text Animation</a></h2>
        
</div>
    <hr>
    <hr> 
   
        <router-outlet></router-outlet>
        <!-- <app-review></app-review> -->
    

